export default {
    endpointAPI: '',
    gameServers: [
        {
            http: 'http://'
            url: 'ws://',
            name: '가람'
        },
        {
            http: 'http://'
            url: 'ws://',
            name: '나래'
        },
        {
            http: 'http://'
            url: 'ws://',
            name: '다옴'
        },
        {
            http: 'http://'
            url: 'ws://',
            name: '솔길'
        },
        {
            http: 'http://'
            url: 'ws://',
            name: '한울'
        }
    ]
};
