{
    "google": {
        "clientId": "",
        "clientSecret": ""
    },
    "naver": {
        "clientId": "",
        "clientSecret": ""
    },
    "discord": {
        "clientId": "",
        "clientSecret": ""
    },
    "github": {
        "clientId": "",
        "clientSecret": ""
    }
}